{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5"><br>
  <h2 class="text-center mb-4">Following</h2>
  <div class="row justify-content-center">
    <ul class="list-group col-md-6">
      {% for follow in following %}
        <li class="list-group-item d-flex align-items-center">
          <img 
            src="{{ follow.following.profile.image.url }}" 
            alt="Profile Picture" 
            class="rounded-circle me-3" 
            style="width: 40px; height: 40px; object-fit: cover;">
          <a href="{% url 'profile' follow.following.username %}" class="text-decoration-none text-dark">
            {{ follow.following.username }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}