{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://kit.fontawesome.com/fc1e235b2e.js"></script>
  <link rel="stylesheet" href="{% static 'assets2/style.css' %}">
  <title>Picstagram | Out</title>
</head>

<body>

  <div id="wrapper">
    <div class="container">
      <div class="form-data">
        <form action="">

          <input type="text" placeholder="Phone number, username, or email">
          <input type="password" placeholder="Password">
          <button class="form-btn" type="submit"><a href="index.html" style="color: white;">Log in</a></button>
          <a class="password-reset" href="{% url 'password_reset' %}">Forgot password?</a>
        </form>
        <div class="sign-up">
          Don't have an account? <a href="{% url 'sign-in' %}">Sign In</a>
        </div>
      </div>
    </div>

   

  </div>

</body>

</html>